<a href="https://colab.research.google.com/github/roshita2707/HacktoberFest2020-1/blob/master/squidgame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [15]:
df=pd.read_csv('tweets_1.csv.zip')

In [16]:
df

                        user_name  ... is_retweet
0       the _√ªnd√´r-rat√®d nigg√°hüëäüèæ  ...      False
1      Best uncle on planet earth  ...      False
2                          marcie  ...      False
3                        YoMo.Mdp  ...      False
4                 Laura Reactions  ...      False
...                           ...  ...        ...
19995                      LaRell  ...      False
19996                       Ethan  ...      False
19997            Derek Chai Media  ...      False
19998                  ADtweetsüáøüáº  ...      False
19999          ‚ú®Duchess of Kings‚ú®  ...      False

[20000 rows x 12 columns]

In [42]:
data=df['user_name'].loc[df['user_followers']>=500]
data.head().sort_values(ascending=False)

0     the _√ªnd√´r-rat√®d nigg√°hüëäüèæ
2                        marcie
5                    Peyman üÖöüÖêüÖò
1    Best uncle on planet earth
7            BarBiE F√°bregas üáøüá¶
Name: user_name, dtype: object

In [45]:
fav=df['user_name'].loc[df['user_favourites']>=10000]
fav.head(10).sort_values(ascending=False)

21                     üïäora‚Å∑
28                   ùëÄùìà.ùí¥ùëúùëúùìÉ
2                     marcie
25        dredriven83‚û°Ô∏è#NYCC
32                    Tali üêã
19    Samaanslife (‚ßñ) üá≤üáªüá∫üá∏üáµüá∏
40             Malcolm Scott
9               Kevin Franco
7         BarBiE F√°bregas üáøüá¶
27            Anne LaVampyre
Name: user_name, dtype: object

In [49]:
del df['user_verified']

In [51]:
del df['date']

In [52]:
df

                        user_name  ... is_retweet
0       the _√ªnd√´r-rat√®d nigg√°hüëäüèæ  ...      False
1      Best uncle on planet earth  ...      False
2                          marcie  ...      False
3                        YoMo.Mdp  ...      False
4                 Laura Reactions  ...      False
...                           ...  ...        ...
19995                      LaRell  ...      False
19996                       Ethan  ...      False
19997            Derek Chai Media  ...      False
19998                  ADtweetsüáøüáº  ...      False
19999          ‚ú®Duchess of Kings‚ú®  ...      False

[20000 rows x 10 columns]

In [67]:
src=df['user_name'].loc[df['source']=='Twitterrific for iOS']
src.value_counts()

Doug White           2
Josu√©                1
ApartmentBoss        1
Vito Sorelli         1
Derek Chai Media     1
Vincenzo Nardelli    1
VIRACY               1
Name: user_name, dtype: int64

In [64]:
df['source'].unique()

array(['Twitter for Android', 'Twitter Web App', 'Twitter for iPhone',
       'Buffer', 'Twitter for iPad', 'PromoRepublic', 'TweetDeck',
       'Instagram', 'Sprout Social', 'Hootsuite Inc.', 'Tweetbot for iŒüS',
       'dlvr.it', 'Meltwater Social', 'Twitter for Mac',
       'SocialHub by maloon', 'Sprinklr', 'Emplifi', 'Agorapulse app',
       'Zoho Social', 'SocialFlow', 'Echobox', 'Blog2Social APP',
       'Twitter for Advertisers', 'IFTTT', 'Metricool',
       'Twitter Media Studio', 'Libsyn On-Publish', 'tweetpancake',
       'Microsoft Power Platform', 'Echofon', 'Oops Bot', 'WordPress.com',
       'Twitterrific for iOS', 'LaterMedia', 'BizToc',
       'Streamlabs Twitter', 'Podbean Podcast', 'Flamingo for Android',
       'CoSchedule', 'Hypefury', 'Twitter for  iPhone', 'SmarterQueue',
       'Nintendo Switch Share', 'Tweetlogix', 'TweetCaster for Android',
       'TwitPane for Android', 'Vero - True Social', 'TheWrap',
       'Periscope', 'popsugar.com', 'Fenix 2', 'Loomly', 'Spreaker',
       'Sprinklr Publishing', 'PlayStation¬ÆNetwork', 'Sendible',
       "lucy's microwave", 'iHeartMedia Publishing', 'www.keengamer.com',
       'LinkedIn', 'SocialBee.io v2', 'HeyOrca',
       'Falcon Social Media Management ',
       'SOCi - Simplifying Social Media', 'SocialPilot.co', 'Zapier.com',
       'SoCast Digital', 'Paste', 'Dash Hudson', 'Twitter Ads',
       'eClincher', 'tshell-bash', 'Paper.li', 'Mailchimp', 'Planable',
       'Rgr-reviews', 'Post Planner Inc.', 'Oyeyeah', 'Paiger',
       'Heropost', '15 Minute Fun', 'RetailNews.asia',
       'Hocalwire Social Share', 'FS Poster', 'Peeping Moon',
       'ZZ v1.0 publish', 'HubSpot', 'Typefully', 'Nelio Content',
       'Microsoft Azure Logic Apps', 'Twittimer', 'Apphi',
       'Twitter for Advertisers.', 'Nlife CMS', 'Tweetbot for Mac',
       'Canva', 'StockTwits Web', 'EveryoneSocial', 'Orlo',
       'Semrush Social Media Tool', 'Salesforce - Social Studio',
       'Publer.io', 'Thred', 'Oktopost', 'Typeshare', 'recurpost.com',
       'TweetCaster for iOS', 'The TweetBud'], dtype=object)

In [94]:
(df['source']=='Twitter Web App').value_counts()

False    16520
True      3480
Name: source, dtype: int64

In [72]:
df['user_followers'].max()

16846417

In [73]:
df['user_followers'].min()

0

In [74]:
df['user_favourites'].max()

1144792

In [75]:
df['user_favourites'].min()

0

In [95]:
df['user_friends'].max()

279180

In [96]:
df['user_friends'].min()

0

In [87]:
loc=(df['user_location']=='Canada üá®üá¶')
for i in loc:
  if(i==True):
      print(i )

True
True

In [93]:
loc=(df['user_location']=='Canada üá®üá¶')
loc.value_counts()

False    19998
True         2
Name: user_location, dtype: int64

In [91]:
loc=(df['user_location']=='Sydney, Australia')
#for i in loc:
 # if(i==True):
loc.value_counts()

False    19984
True        16
Name: user_location, dtype: int64